- id: testmessage
  alias: Telegram Test
  trigger:
    platform: event
    event_type: telegram_command
    event_data:
      command: /ping
  action:
  - service: telegram_bot.send_message
    data:
      message: pong
- id: FotoFomino
  alias: Telegram Photo
  trigger:
    platform: event
    event_type: telegram_command
    event_data:
      command: /foto
  action:
  - service: telegram_bot.send_photo
    data:
      url: http://192.168.20.44/photo.jpg
- id: '1603725113000'
  alias: telegram_bot_start
  description: ''
  trigger:
  - platform: event
    event_type: telegram_command
    event_data:
      command: /start
  - platform: event
    event_type: telegram_callback
    event_data:
      command: /start
  condition: []
  action:
  - service: telegram_bot.send_message
    data:
      target: '{{ trigger.event.data.chat_id }}'
      disable_notification: true
      inline_keyboard:
      - Фомино:/Fomino, Вишневая:/Vishnya
      message: ' Набор команд '
      title: ' Автоматика '
  mode: queued
  max: 10
- id: '1603725636521'
  alias: telegram bot return foto
  description: ''
  trigger:
  - platform: event
    event_type: telegram_callback
    event_data:
      command: /photo
  condition: []
  action:
  - service: telegram_bot.answer_callback_query
    data:
      callback_query_id: '{{ trigger.event.data.id }}'
      message: Запросили фотографию
      show_alert: true
  - service: telegram_bot.send_photo
    data:
      inline_keyboard:
      - Температура:/temperature, Фотография:/photo
      - Remove this button:/remove_button
      password: a6xzoq_Z
      target: '{{ trigger.event.data.chat_id }}'
      timeout: 250
      url: http://192.168.17.125/Streaming/channels/1/picture
      username: admin
  mode: queued
  max: 10
- id: '1603735362798'
  alias: telegram bot Fomino
  description: ''
  trigger:
  - platform: event
    event_type: telegram_callback
    event_data:
      command: /Fomino
  condition: []
  action:
  - service: telegram_bot.send_message
    data:
      target: '{{ trigger.event.data.chat_id }}'
      disable_notification: true
      inline_keyboard:
      - Температура:/Fomino_temperature, Фото:/Fomino_photo
      - ' ↑ В меню:/start'
      message: ' Набор команд Фомино'
  mode: queued
  max: 10
- id: '1603735599413'
  alias: telegram bot Fomino Температура
  description: ''
  trigger:
  - platform: event
    event_type: telegram_callback
    event_data:
      command: /Fomino_temperature
  condition: []
  action:
  - service: telegram_bot.send_message
    data:
      target: '{{ trigger.event.data.chat_id }}'
      disable_notification: true
      inline_keyboard:
      - Температура:/Fomino_temperature, Фото:/Fomino_photo
      - Назад:/start
      message: 'Температура на втором этаже: {{ states(''sensor.28_e0505c050000_temperature'')
        }}, На улице: {{ states(''sensor.28_eb675a050000_temperature'') }}, в погребе:
        {{ states(''sensor.sonoff_th1_mqtt_temperature'') }}; Дата обновления: {{
        as_timestamp(states.sensor[''28_e0505c050000_temperature''].last_updated)|timestamp_local
        }} '
      title: ' Автоматика Фомино '
  mode: queued
  max: 10
- id: '1603735697674'
  alias: telegram bot Fomino photo
  description: ''
  trigger:
  - platform: event
    event_type: telegram_callback
    event_data:
      command: /Fomino_photo
  condition: []
  action:
  - service: telegram_bot.send_photo
    data:
      url: http://192.168.20.44:8123/local/vstarcam_snapshot.jpg
      target: '{{ trigger.event.data.chat_id }}'
  - service: telegram_bot.send_photo
    data:
      url: http://192.168.20.44:8123/local/boa_snapshot.jpg
      target: '{{ trigger.event.data.chat_id }}'
  - service: telegram_bot.send_message
    data:
      target: '{{ trigger.event.data.chat_id }}'
      disable_notification: true
      inline_keyboard:
      - Температура:/Fomino_temperature, Фото:/Fomino_photo
      - Назад:/start
      message: ' Автоматика Фомино ...'
  mode: queued
  max: 10
- id: '1603735988024'
  alias: telegram bot Vishnya Температура
  description: ''
  trigger:
  - platform: event
    event_type: telegram_callback
    event_data:
      command: /Vishnya_temperature
  condition: []
  action:
  - service: telegram_bot.send_message
    data:
      target: '{{ trigger.event.data.chat_id }}'
      disable_notification: true
      inline_keyboard:
      - Температура:/Vishnya_temperature, Фото:/Vishnya_photo
      - Назад:/start
      message: 'Температура на первом этаже: {{ states(''sensor.28_3c01b55646ad_temperature'')
        }}, втором этаже: {{ states(''sensor.28_3c01b5560bc5_temperature'') }}, Температура
        на улице: {{ states(''sensor.28_3c01b556dd86_temperature'') }}, Температура
        на под крышей: {{ states(''sensor.28_3c01b556abd9_temperature'') }}.  Дата
        обновления: {{ as_timestamp(states.sensor[''28_3c01b5562324_temperature''].last_updated)|timestamp_local
        }}'
      title: ' Автоматика Вишневой '
  mode: queued
  max: 10
- id: '1603736073593'
  alias: telegram bot Vishnya
  description: ''
  trigger:
  - platform: event
    event_type: telegram_callback
    event_data:
      command: /Vishnya
  condition: []
  action:
  - service: telegram_bot.send_message
    data:
      target: '{{ trigger.event.data.chat_id }}'
      disable_notification: true
      inline_keyboard:
      - Температура:/Vishnya_temperature, Фото:/Vishnya_photo
      - Назад:/start
      message: ' Набор команд Вишневая'
  mode: queued
  max: 10
- id: '1603736846965'
  alias: telegram bot Vishnya photo
  description: ''
  trigger:
  - platform: event
    event_type: telegram_callback
    event_data:
      command: /Vishnya_photo
  condition: []
  action:
  - service: telegram_bot.answer_callback_query
    data:
      callback_query_id: '{{ trigger.event.data.id }}'
      message: Подождите немного. Медленный канал...
  - service: telegram_bot.send_message
    data:
      target: '{{ trigger.event.data.chat_id }}'
      disable_notification: true
      inline_keyboard:
      - Температура:/Vishnya_temperature, Фото:/Vishnya_photo
      - "\U0001F815 В меню:/start"
      message: ' Автоматика Вишневой'
  - service: telegram_bot.send_photo
    data:
      password: homeassistant17
      target: '{{ trigger.event.data.chat_id }}'
      timeout: 250
      url: http://192.168.17.92/onvif/snapshot/201
      username: homeassistant
  - service: telegram_bot.send_photo
    data:
      url: http://192.168.17.92/onvif/snapshot/101
      username: homeassistant
      password: homeassistant17
      target: '{{ trigger.event.data.chat_id }}'
  - service: telegram_bot.send_photo
    data:
      url: http://192.168.17.92/onvif/snapshot/301
      username: homeassistant
      password: homeassistant17
      target: '{{ trigger.event.data.chat_id }}'
  - service: telegram_bot.send_photo
    data:
      url: http://192.168.17.92/onvif/snapshot/401
      username: homeassistant
      password: homeassistant17
      target: '{{ trigger.event.data.chat_id }}'
  mode: queued
  max: 10
- id: '1610368227923'
  alias: Вечернее изменение температуры
  description: ''
  trigger:
  - platform: template
    value_template: '{{ states(''sensor.time'') == (states.input_datetime.cellar_night_on_time.state[0:5])
      }}'
  condition:
  - condition: state
    entity_id: input_boolean.cellar_day_night_automation
    state: 'on'
  action:
  - service: climate.set_temperature
    data:
      temperature: '{{ states(''input_number.cellar_nighttime_temperature'') }}'
    entity_id: climate.cellar
  mode: single
- id: '1610368478188'
  alias: Утреннее изменение температуры
  description: ''
  trigger:
  - platform: template
    value_template: '{{ states(''sensor.time'') == (states.input_datetime.cellar_day_on_time.state[0:5])
      }}'
  condition:
  - condition: state
    entity_id: input_boolean.cellar_day_night_automation
    state: 'on'
  action:
  - service: climate.set_temperature
    data:
      temperature: '{{ states(''input_number.cellar_daytime_temperature'') }}'
    entity_id: climate.cellar
  mode: single
- id: '1647176714498'
  alias: update_temperature
  description: Обновление датчиков температуры
  trigger:
  - platform: time_pattern
    minutes: /15
  condition: []
  action:
  - service: shell_command.get_temperature_vichnya
    data: {}
  - service: shell_command.get_temperature_fomino
    data: {}
  - service: shell_command.get_boa_snapshot
    data: {}
  mode: single
- id: '1649839906249'
  alias: Фотография в полдень
  description: Отправляю фотографию в полдень
  trigger:
  - platform: time
    at: '12:00:30'
  condition: []
  action:
  - service: telegram_bot.send_photo
    data:
      url: http://192.168.20.44:8123/local/vstarcam_snapshot.jpg
      target: -165156279
  - service: telegram_bot.send_photo
    data:
      url: http://192.168.20.44:8123/local/boa_snapshot.jpg
      caption: Фотография в полдень {{ now().strftime('%Y-%m-%d %H:%M:%S') }}
      target: -165156279
  mode: single
